body,html,div,dl,dt,dd,ul,p,h1,h2,h3,h4,h5,h6,span{
    padding: 0px;
    margin: 0px;
}
body{font-family: "微软雅黑";color: #333;background: #f6f7f8;}
a{text-decoration: none;}
ul{list-style: none;}
img{border: none;}
.min-w,
.web{margin: 0 auto;}
.min-w{min-width: 1200px;width: 100%;}
.web{width: 1200px;}
/* 弹出框 */
.mt{position: fixed;top: 0;left:0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);z-index: 1000;}
.mt .box-title{position: fixed;left:50%;top: 50%;z-index: 1001;position: relative;margin-left: -210px;margin-top: -290px;}
.mt .close{display: block;position: absolute;top: 0;left: 385px;width: 35px;height: 35px;z-index: 1002;background: #000;cursor: pointer;}
.mt .close b{display:inline-block;width:35px; height:1px; background:#fff; font-size:0;vertical-align:middle;-webkit-transform: rotate(45deg);margin-top: 12px;}
.mt .close b::after { content:'.'; display:block; width:35px; height:1px; background:#fff;-webkit-transform: rotate(-90deg);}
/* 顶部导航 */
.top-box{width: 100%; height: 40px; background: #f5f5f5; font-size: 13px; }
.top-box .web{position: relative;}
.left{float: left;}
.right{float: right;}
.bg-bar-box{font-size: 14px; position: absolute;left:0;z-index: 99;width: 79px;height: 40px;}
.bg-bar-box .hng{border: 1px solid #ccc; display: block; background: #fff;}
.bg-bar-box .hdh{background: #fff; border: 1px solid #ccc; border-bottom: none; margin-bottom: -1px;}
.bg-bar-box .sp{color:#f00;}
.ng-site-nav{height: 140px; width: 400px; display: none; }
.bg-bar-box .dh{height:40px; display:inline-block;width: 79px;line-height: 40px;text-align:center;}
.bg-bar-box a span{color: #666; line-height: 40px; }
.bg-node-box{position: absolute; left: 100px; z-index: 99;width: 79px;}
.bg-node-box .hrz{border: 1px solid #ccc; border-bottom: none; background: #fff; }
.bg-node-box .hnode{background: #fff; border:1px solid #ccc; margin-top: -1px; display: block; }
.bg-node-box .rz{display: inline-block; color: #666; line-height: 40px; width: 79px; height: 40px; text-align: center;}
/* 导航右侧 */
.ng-right-nav{position:absolute;right: 0;}
.ng-site-nav .sn-side-list{width: 165px;margin-left: 15px;padding: 10px 0 10px 5px;margin-top: 5px;}
.ng-site-nav .black{border-left: 1px solid #ccc; padding-left: 15px; margin-left: 0px; }
.bg-bar-box .ng-site-nav dt{margin-bottom: 10px; font-size: 15px; color: #000; }
.bg-bar-box .ng-site-nav dd p{line-height: 25px; width: 80px; float: left; }
.bg-bar-box .ng-site-nav dd a{color: #666; font-size: 12px;}
.bg-bar-box .ng-site-nav dd a:hover{color:#ff6600;}
.bg-node-box .hsp{color: #f00;}
.ng-node-nav{width: 170px; padding:10px 25px 15px 10px; height: 80px; display: none; }
.ng-node-nav a{display: inline-block; line-height: 25px; width: 80px; float: left; color: #666;font-size: 12px;}
.ng-node-nav a:hover{color:#ff6600;}
.ng-side-right{position: absolute;right: 500px;}
.ng-side-right ul{list-style: none; }
.ng-side-right ul li{display: inline-block; width: 80px; height: 40px; line-height: 40px; text-align: center; }
.ng-side-right ul li a{display: inline-block; color: #666; }
.ng-side-right ul:first-child li:first-child a{margin:0 5px; }
.ng-side-right ul li:first-child:hover{background: #ccc; }
.ng-side-right ul li:first-child a:hover{color: #ff6600; }
.ng-side-right ul li:nth-child(2){background-color: #fff; border:1px solid #ccc; border-bottom: none; }
.ng-order{position: absolute;right: 410px; text-align: center; width: 80px;z-index: 99;}
.ng-order .my-od{display: block; color: #666; width: 80px; height: 40px; line-height: 40px; }
.ng-order .od-item{text-align: left; padding-left: 7px; display: none; }
.ng-order .hod{background-color: #fff;}
.hng-od{border:1px solid #ccc; background-color: #fff;}
.ng-order .hitem{display: block;  background-color: #fff; }
.od-item a{color: #666; width: 80px; line-height: 30px; padding:5px 15px 5px 5px; }
.ng-order a:hover{color: #ff6600;}
.my-yg{position: absolute;right: 320px; z-index: 99; width: 79px;}
.my-yg .yg{display: inline-block; color: #666; border-bottom: none; text-align: center; line-height: 40px; width: 79px; }
.my-yg .yg-item{width: 192px; height: 85px; padding:8px 0; display: none; }
.my-yg .yg-item a{display: inline-block; float: left; width: 78px; text-align: left; line-height: 25px; color: #666; padding-left: 10px;font-size: 12px;}
.my-yg .ygh{background-color: #fff; border:1px solid #ccc; border-bottom: none;}
.my-yg a:hover{color:#ff6600;}
.my-yg .hyg-item{background: #fff; border:1px solid #ccc; margin-top: -1px; display: block;}
.sj-sn{position: absolute;right: 230px;z-index: 99;width: 79px;}
.sj-sn .nv-sj{display: inline-block; color: #666; width: 79px; text-align: center; line-height: 40px; }
.sj-sn .sj-sn-item{width: 400px; height: 230px; display: none; }
.sj-sn .hnv-sj{background-color: #fff; border:1px solid #ccc; border-bottom: none; }
.sj-sn .hitem{ border:1px solid #ccc; display: block; background-color: #fff; margin-top: -2px; }
.sj-sn .sj-sn-item a{display: inline-block; float: left; padding: 10px 0 0 10px; line-height: 20px; }
.sj-sn .sj-sn-item img{width: 152px; height: 152px; }
.sj-sn .sj-sn-item .xr-zx{width: 151px; height: 16px; }
.sj-sn .sj-sn-item .first-a{text-align: center; }
.sj-sn .sj-sn-item .xz-app{padding-bottom: 10px; color: #666; text-align: center; }
.sj-sn .sj-sn-item .s-jr p{text-align: center; color: #666; }
.yfb{position: absolute; right: 130px;width: 80px; line-height: 40px; }
.yfb a{color:#666; }
.qy-cg{position: absolute;right: 90px;width: 60px;line-height: 40px;}
.qy-cg a{color:#666;display: inline-block;}
.qy-cg a:hover,.yfb a:hover{color: #ff6600;text-decoration: underline;}
.kh-fw{position: absolute;right:0;z-index: 99;}
.kh-fw .khfw{display: inline-block; line-height: 40px; width: 80px; text-align: center;color: #666;}
.kh-fw .hu-fw-list{ width: 150px; display: none;margin-left: -70px;}
.kh-fw .hu-fw-list a{display: inline-block; line-height: 30px; width:60px; padding-left: 10px;color: #666;}
.kh-fw .hlist{border:1px solid #ccc; display: block; background-color: #fff; margin-top: -1px;}
.kh-fw .fw{border:1px solid #ccc; border-bottom: none; background-color: #fff; }
.hu-fw-list a:hover{color: #ff6600;}
.top-box .jt{display: inline-block; width: 6px; height: 6px; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; transform: rotate(-45deg); -ms-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); margin-left: 6px; transition: all 0.3s; -webkit-transition: all 0.3s; -ms-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; }
.top-box .jtxz{transform: rotate(-225deg);-ms-transform: rotate(-225deg);-webkit-transform: rotate(-225deg);-moz-transform: rotate(-225deg);-o-transform: rotate(-225deg);}
/* 搜索 */
.continer{width: 100%; height: 90px;line-height: 90px;background: #fff;padding-bottom: 5px;}
.continer .sn-search{margin-left: 180px;line-height: 90px;}
.continer .sn-search .search-keys{width: 460px; height: 30px; border:3px solid #ffc001; font-size: 16px; outline: none; padding-left: 15px; }
#send-form .search-btn{width: 100px; height:38px; background-color: #ffc001; text-align: center; line-height: 36px; border:none; font-size: 16px; font-weight: bold; color: #333;display: inline-block;margin-top: 27px;color: #333;}
.search-list{height: 20px;line-height: 20px;margin-top: -25px;margin-left: 370px;}
.search-list a{color: #333; font-size: 12px; padding:2px;}
.search-list .ahh{color: #ff6600;}
/* 分类导航 */
.continer-bg-top{width: 100%; height: 36px;line-height:36px;-webkit-background-size: cover; text-align: center; overflow: hidden; background: #fff;}
.continer-bg-top h3{font-size: 14px; background-color: #ffc001;height: 36px;line-height: 36px;width:182px;padding-left: 8px;text-align: left;float: left;}
.continer-bg{width: 100%; height: 455px; -webkit-background-size: cover; text-align: center; border-top: 3px solid #000;background: #f00;}
/* 左侧菜单 */
.continer-bg .left-continer{width: 190px; height: 458px;position: relative;margin-top: -3px;}
.continer-bg .left-item{background-color: #fff; width: 190px; height: 458px; text-align: left;  box-shadow: 0 0 2px #ccc;margin: 0 auto}
.continer-bg .left-item li{list-style-type: none;height: 35px;line-height: 35px;width: 188px;margin: 0 auto;}
.continer-bg .left-item li span{width:0;height:0;border: 6px solid transparent;border-left: 7px solid #fff;position: absolute;left:175px;margin-top: 12px;}
.continer-bg .left-item .reds{background: #f00;}
.continer-bg .left-item li a{display: inline-block; color: #333; font-size: 13px;margin-left: 4px}
.continer-bg .left-item li a:nth-child(1){margin-left: 15px;}
.continer-bg-top .continer-top li{float: left; list-style-type: none; padding-left: 20px; }
.continer-bg-top .continer-top a{display: inline-block; color: #000; font-size: 15px; }
.continer-bg-top .continer-top a:hover{color: #ff6600; }
/* 右侧公告信息 */
.continer-bg .right-continer{background-color: #fff; width: 220px; height: 434px; margin-top: 10px; text-align: center; }
.continer-bg .right-continer .head-right{width: 218px; height: 40px; border-bottom: 1px solid #eee; line-height: 40px ;margin: 0 auto;}
.continer-bg .right-continer .head-right li{list-style-type: none; float: left; width: 35px; margin-left: 26px; }
.continer-bg .right-continer .hover{border-bottom: 2px solid #F00; }
.continer-bg .right-continer li a{display: inline-block; color: #333; font-size: 13px; width: 35px; }
.right-continer .tt{text-align: left; margin-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee; }
.right-continer .item{display: none;}
.right-continer .show{display: block;}
.right-continer .tt p{margin-left: 20px; line-height: 28px; }
.right-continer .tt a{color: #666; font-size: 12px; }
.right-continer .tt i{padding-right: 10px;font-style: normal;}
.right-continer .tt .xz{color:#ff6600;}
.right-item li{float: left; width: 72px; height: 65px; list-style-type: none; border-right:1px solid #eee; border-bottom: 1px solid #eee; }
.right-item .right-list li a{display: inline-block; width: 72px; height: 65px; line-height: 65px; }
.right-item .right-list li:hover a{color: #ff6600;}
.right-continer .sn-app{display: inline-block; padding-top: 15px; font-weight: bold; margin-left: -30px; }
/* 轮播图 */
.slider{height: 455px;position: relative;}
.slider{margin-left: 190px;margin-right: 220px;}
.slider-main{height: 455px;}
.slider-panel, .slider-nav{position: absolute;}
.slider-panel{width: 100%;}
.slider-panel img{border:none;width:100%;height: 455px;background-size: cover;}
.slider-extra .slider-nav{left: 40%; bottom: 8px; z-index: 99; }
.slider-nav .slider-item{background: #5b5b5b; border-radius: 50%; color: #fff; cursor: pointer; margin:0 2px; text-align: center; display: inline-block; height: 18px; line-height: 18px; width: 18px; }
.slider-nav .slider-item-selected{background: #ff7f33; }
.slider-page a{background:rgba(0,0,0,0.4); color: #fff; text-align: center; display: block; font-size: 22px; width: 28px; height: 64px; line-height: 62px; margin-top: -31px; position: absolute; top: 50%; z-index: 99; }
.slider-page a:hover{background: rgba(0,0,0,0.6); }
.slider-next{right:0;position: relative;}
.slider-pre{left: 0;}
.slider-next::after{content: "";width: 18px;height: 18px;position: absolute;right:10px;top:21px;border-top: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);}
.slider-pre::after{content: "";width: 18px;height: 18px;position: absolute;left:10px;top:21px;border-top: 2px solid #fff;border-left: 2px solid #fff;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);}
/* 商品广告图片展示 */
.v_show{width:1199px;margin: 0px auto;height: 184px;overflow: hidden;position:relative;margin-top: 30px;}
.v_show .img-item{width: 1199px;height: 184px;margin: 0 auto;}
.img-list{width: 1199px; height:184px;margin: 0 auto;}
.img-list .arr{display:none;text-align: center;font-size: 45px; font-weight:bold;color: rgba(255,255,255,0.7); width: 100px;height: 100px;line-height:100px;border-radius: 50%;background: rgba(0,0,0,.3);position: absolute;top:42px;z-index: 10}
#prev{left: 20px;}
#next{right: 20px;}
.img-list .arrows{margin-left: -80px}
.img-list .arrows:after{content:"";position:absolute;top:35px;left:70px;width: 30px;height: 30px;border-top: 2px solid #fff;border-left: 2px solid #fff;transform: rotate(-45deg);-ms-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-web-transform: rotate(-45deg);}
.img-list .arrow{margin-right: -80px;}
.img-list .arrow:after{content:"";position:absolute;top:35px;right:70px;width: 30px;height: 30px;border-top: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(45deg);-ms-transform: rotate(45deg);-moz-transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.img-list:hover .arr{display: block;}
.img-list ul{width: 4952px; height:184px;position: absolute;}
.img-list li{text-align: center; margin-left: 13px;float: left;}
.img-list li a{display: inline-block;}
.img-list .clp{margin-left: 0px;}
.img-list li:hover{opacity: 0.8;}
/* 放心去喜欢 */
 .title{height: 70px;width: 1200px;margin: 0 auto;line-height: 70px;}
 .title h3{font-size: 20px; color: #000;}
.second-screen{width: 1200px; height: 400px;margin:0 auto;position: relative;margin-bottom: 50px;}
.second-screen .feature-enter{height: 400px;width: 385px;}
.feature-enter a{display: block; width: 385px; height: 195px;background: #fff;}
.second-screen img{transition: all 0.5s;-ms-transition:all 0.5s;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;}
.second-screen .content p{line-height: 25px;padding-left: 30px;}
.second-screen .enter1{position: relative;margin-bottom: 10px;}
.second-screen .enter2{position: relative;}
.enter1 img{width: 150px; height: 150px; background-size: cover; position: absolute; left: 160px; top: 5px;}
.second-screen .content .s-title{background-color: #fff; color: #f00; width: 85px; font-size: 13px;}
.enter2 img{width: 150px; height: 150px; background-size: cover; position: absolute; left: 160px; top: 20px; }
.content .enter-title{font-size: 20px; color: #ff7f33;font-weight:bold;padding: 20px 0 10px 0;}
.content .enter-des{width: 115px; color: #ffb6b6; }
.featrue-list{width: 800px; height:400px; background-color: #fff; position: absolute; left: 395px; top: 0; border-top: 1px solid #f6f7f8; border-right: 1px solid #f6f7f8; }
.featrue-list li{float: left; width: 200px; height:200px; margin: 0 auto; border-bottom:1px solid #f6f7f8; border-left:1px solid #f6f7f8; box-sizing: border-box; }
.featrue-list  li a{display: inline-block; }
.featrue-list .name{font-size: 20px; width: 100px; margin-top: 10px; padding-left: 15px; font-weight: bold; }
.featrue-list .desc{width: 150px; padding-left: 15px; color:  #999; }
.featrue-list img{display:block; margin-left: 66px; }
.featrue-list .item1 .name{color: #4b73a7; }
.featrue-list .item2 .name{color: #d53e33; }
.featrue-list .item3 .name{color: #bbca8a; }
.featrue-list .item4 .name{color: #945eea; }
.featrue-list .item5 .name{color: #a4459a; }
.featrue-list .item6 .name{color: #4a9eca; }
.featrue-list .item7 .name{color: #863d04; }
.featrue-list .item8 .name{color: #e87556; }
.feature-enter .enter1:hover img{margin-left:-15px; }
.feature-enter .enter2:hover img{margin-left:-15px; }
.featrue-list li:hover img{margin-left: 50px; }
.featrue-list .hoItem{border: 2px solid #f00; }
/* 大牌盛宴、精选好货、 必抢清单*/
.second-wrapper{width: 1200px;height: 420px;margin: 0 auto;box-sizing: border-box;}
.second-module{width: 390px; height: 420px; background:#fff; float: left; }
.second-module .title{width: 390px; height: 50px; background:#419dae; box-sizing: border-box; }
.second-module .title p{font-size: 20px; color: #fff; font-weight: bold; line-height: 50px; margin-left: 20px; width: 150px; float: left;}
.second-module .cen{background:rgb(134,123,197);}
.second-module .rig{background: #a25683;}
.second-module .title a{display: inline-block;height: 50px;line-height: 50px;float: left;}
.second-module .title span{margin-left: 110px;display: inline-block;line-height: 50px;color: #fff;}
.content-list{width: 369px; margin: 0 auto; }
.content-list li{float: left; width: 184px; height: 118px; border-left: 1px solid #eee; border-bottom: 1px solid #eee; position: relative; }
.content-list .bbl{border-bottom: none; border-left: none; }
.content-list .bl{border-left: none; }
.content-list .bb{border-bottom: none; }
.second-module li>a{font-size: 15px;}
.content-list li p{width: 80px; color:#333; padding-top: 20px; padding-left: 10px; }
.content-list li img{position:absolute;left:95px;top:30px;transition: all 0.4s;-ms-transition:all 0.4s;}
.content-list li:hover img{left: 85px;}
.second-wrapper .jxhh{margin-left: 13px;}
.second-wrapper .clearfix{clear: both;}
.bqqd-tab li{float: left;height: 40px;line-height: 40px;font-size: 18px;padding:0 6px;margin:0 32px;}
.current{border-bottom: 2px solid #f00;}
.list ul p{margin: 17px 0 0 15px;font-size: 15px;color: #000;}
.list .tab-img-list{width: 390px;height: 120px;margin-top: 12px;position: relative;}
.tab-img-list img{text-align:center;transition: all 0.4s;-ms-transition:all 0.4s;width: 100px;}
.second-module{overflow: hidden;}
.second-module a:hover p{color: #ff6600;}
.tab-img-list img:first-child{position: absolute;left: 20px;}
.tab-img-list img:nth-child(2){position: absolute;left:140px;}
.tab-img-list img:nth-child(3){position: absolute;left:260px;}
.tab-img-list .dds{margin-left: -10px;}
.list ul li{width: 390px;height: 164px;float: left;}
.list li:nth-child(1),.list li:nth-child(3),.list li:nth-child(5){border-bottom: 1px solid #eee;}
/* 查看更多 */
.re-title{width:1200px;height:40px;margin: 20px auto;line-height: 40px;}
.re-title h3{font-size: 20px;float: left;}
.re-title .get-more{float: right;color: #000;}
.re-title .get-more:hover{color: #ff6600;}
/* 为你推荐 */
#wrapper{width: 1200px;margin:0 auto;background: #fff;}
#wrapper .y-like{height: 60px;background: #f6f7f8;}
#wrapper .y-like h3{line-height: 60px;font-size: 20px;}
.shop-list{width: 1200px;height: 280px;background: #fff;}
.shop-list ul li{width:200px;height: 280px;float: left;border-right: 1px solid #eee;box-sizing: border-box;border-bottom: 1px solid #eee;}
.shop-list .clebb{border-bottom: none}
.shop-list ul li img{margin: 20px 20px 15px 20px;}
.shop-list ul li a{display: block;height: 40px;margin-left: 20px;font-size: 13px;color: #000;}
.shop-list ul li a:hover{color: #ff6600;}
.shop-list ul li p{line-height: 30px;margin-bottom: 15px;margin-left: 20px;font-size: 20px;color: #f00}
.shop-list ul li:last-child{border-right: none;}
/* 图书音像 */
.books-title{position:relative;width: 1200px;height: 440px;margin: 0 auto;margin-bottom: 80px;}
.floor-head{width: 1200px;height: 50px;line-height: 50px;}
.floor-head .get-more{position: absolute;right: 0;top: 5px;position: relative;}
.floor-head .get-more li{margin-left: 15px;font-size: 14px;color: #000;float: left;}
.floor-head .get-more a{color: #000;display: inline-block;}
.floor-head .get-more li .booksa{color: #885534;font-weight: 600;}
.floor-head em{font-style: normal;}
.floor-head .get-more .aspan{width: 0; height: 0; border: 12px solid transparent; border-bottom-color: #885534; position: absolute; bottom: 0; margin-left: -40px; }
.flor-main{width:1200px;height: 440px;background: #fff;margin: 0 auto;position: relative;}
.flor-main .side{height: 440px;width: 185px;}
.flor-main .side .side-img{display: inline-block;width: 185px;height: 323px;background: #ffd8c3;margin-top: -7px;}
.side .side-img p{color: #ff6600;}
.flor-main .side .roll{border:5px solid transparent;border-top: 5px solid #f00;position: absolute;left: 180px;top: -5px;transform: rotate(45deg);-ms-transform:rotate(45deg);}
.side .side-img .name{font-size: 20px;margin: 20px 0 8px 20px;}
.side .side-img .desc{font-size: 16px;margin: 0 0 50px 20px;}
.side .entrances{margin-top: -50px;width: 185px;height: 50px;position: absolute;z-index: 99;background: rgba(255,255,255,0.5);}
.side .entrances li{float: left;width: 80px;margin-left: 10px;height: 50px;line-height: 50px;}
.side .entrances li a{display: inline-block;width: 90px;color: #ff6600;}
.side .entrances li em{font-style: normal;}
.hot-word div{margin-left: 10px;}
.hot-word div:first-child{margin-bottom: 15px;}
.hot-word div a{display: inline-block;width: 84px;font-size: 12px;line-height: 25px;color: #666;}
.hot-word div a:hover{color: #ff6600;}
#list-item{width: 1015px;height: 440px;position: absolute;left: 185px;top: 0}
#list-item .list-img{width: 405px;height: 440px;background: #ffe6d9;display: inline-block;}
.list-item1 .list-img .name{margin:20px 0 0 20px;font-size: 18px;color: #000;}
.list-item1 .list-img .desc{margin-left:20px;font-size: 14px;color: #ff6600;}
.list-item1 .list-img img{margin: 20px 50px}
.list-item1 ul{width: 402px;position: absolute;left: 405px;top: 0;}
.list-item1 ul li{float: left;width: 200px;height: 146px;position: relative;}
.list-item1 li .name{margin: 15px 0 0 12px;font-size: 19px;color: #000}
.list-item1 li .desc{margin-left: 10px;color: #ff6600;z-index: 99;position: absolute}
.list-item1 li img{position: absolute;right: 0px;top: 45px;}
.list-item1 ul li{border-bottom: 1px solid #eee;border-right: 1px solid #eee;}
#list-item  a:hover img{opacity: 0.7}
.list-item1 .ph{width: 208px;height: 440px;position: absolute;right:0;top: 0}
.list-item1 .ph a{display: block;width: 204px;height: 83px;padding: 2px;border-bottom: 1px solid #eee}
.list-item2 li{float: left;width: 202px;height: 220px;border-left: 1px solid #ccc;}
.list-item2 li img{width: 128px;height: 125px;margin: 0 auto;display: block;margin-top: 20px;}
.list-item2 li p{font-size: 12px;color: #666;margin:0 0 10px 15px;height: 30px;}
.list-item2 li span{text-align: left;color: #e12228;margin-left: 10px;font-size: 20px;}
.list-item2 ul .bbt{border-bottom: 1px solid #eee}
.list-item2 li p.hover{color: #ff6600;}
/* 底部 */
.ng-new-pro{width: 100%;height: 302px;background: #33302b;margin-top: 30px;}
.ng-new-pro-con{width: 100%;height: 102px;}
.ng-new-pro-con dl{width: 350px;height: 100px;float: left;border-right: 1px dashed rgba(255,255,255,0.2);margin: 0 auto;padding-left: 35px;padding-right: 30px;}
.ng-new-pro-con dl:nth-child(3){border-right: none;padding-right: 0px;}
.ng-new-pro-con dl:nth-child(1){padding-left: 0px;}
.ng-new-pro-con dd{color: #fff;float: left;cursor: pointer;}
.ng-new-pro-con dd p{width: 220px;}
.ng-new-pro-con dd .name{font-weight: bold;}
.ng-new-pro-con dd .desc{font-size: 12px;}
.ng-new-pro-list {width: 1200px;margin: 0 auto;padding-top: 20px}
.ng-new-pro-list dl img{float: left;}
.ng-new-pro-list dt dd{margin-left: 50px;}
.ng-s-footer{height:160px;width: 100%;margin-top: 40px}
.ng-s-f-con{width: 1200px;height: 160px;margin: 0 auto;}
.ng-s-f-con p{line-height: 25px;color: rgba(255,255,255,0.5);font-size: 12px;}
.ng-s-f-con .ng-url-list a{color: #fff;}
.ng-s-f-con .ng-url-list span{padding: 0 8px;}
.ng-s-g-con .ng-copyright a{color: rgba(255,255,255,0.5);}
.ng-authentication img{display:inline-block;margin-left: 8px;}
.ng-authentication img.cl1{margin-left: 0px;}
#right-item{position: absolute; left: 190px; top: 0; width: 500px; height: 458px;z-index: 9900; overflow: hidden;display: none;}
#right-item .item1{width: 500px; height: 456px; border: 1px solid #ccc; background: #fff;display: none;}
#right-item li{width: 100px;height: 20px; margin: 10px; border: none; float: left; }
#right-item li a{display:inline-block;color: #333;font-size: 14px;}
/*#back-top{width:80px;height:50px;position: fixed;bottom: 100px;right: 40px;}*/
/*#back-top a{color: #000;display: block;line-height: 40px;text-align: center;width: 80px;height: 40px;border-radius: 20px;background: rgba(255,255,255,.5);}*/
